.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #2e7d32; /* green */
  padding: 10px 20px;
  color: white;
}

.navbar h3 {
  margin: 0;
}

.navbar-links a {
  margin: 0 10px;
  color: white;
  text-decoration: none;
  font-weight: 500;
}

.navbar-links a:hover {
  text-decoration: underline;
}

.navbar-right {
  display: flex;
  gap: 15px;
  align-items: center;
}